<div class="card mt-5">
    <div class="card-body">
        <form #sheetForm="ngForm" (ngSubmit)="onSubmit(sheetForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="sheetService.selectedSheet.$key">
            <div class="form-group">
                <input type="text" class="form-control" name="nombre" #name="ngModel" [(ngModel)]="sheetService.selectedSheet.nombre" placeholder="nombre">
                <input type="date" class="form-control" name="birthday" #name="ngModel" [(ngModel)]="sheetService.selectedSheet.birthday" placeholder="birthday">
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i>
                </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-danger" type="reset" (click)="resetForm(sheetForm)">
                    <i class="fas fa-minus-circle"></i>
                </button>
                </div>
            </div>
        </form>
    </div>
</div>