<div class="card mt-5">
    <div class="card-body">
        <h6 class="text-center">Lista de Hojas</h6>
        <table class="table table table-bordered table-hover" *ngFor="let sheet of sheetList">
            <thead>
                <th>
                    <div class="row">
                        <div class="col-10">
                            {{sheet.nombre}}
                        </div>
                        <div class="col-2">
                            <a class="fas fa-align-justify" data-toggle="collapse" href="#{{sheet.$key}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            </a>
                        </div>
                    </div>
                </th>
            </thead>
            <tbody class="collapse text-left" id="{{sheet.$key}}">
                <tr>
                    <td>
                        <tbody>
                            <tr>
                                <td class="text-danger">nombre:</td>
                                <td class="text-secondary">{{sheet.nombre}}</td>
                            </tr>
                            <tr>
                                <td class="text-danger">birthday:</td>
                                <td class="text-secondary">{{sheet.birthday}}</td>
                            </tr>
                        </tbody>
                    </td>
                </tr>
                <tr class="text-center">
                    <button class="col-6 far fa-edit bg-success" (click)="onEdit(sheet)">editar</button>
                    <button class="col-6 far fa-trash-alt bg-danger" (click)="onDelete(sheet)">eliminar</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>